---
http_interactions:
- request:
    method: post
    uri: https://arek.scoro.com/api/v2/contacts/list
    body:
      encoding: UTF-8
      string: '{"apiKey":"ScoroAPI_a4e5e6ad85ecdcc","company_account_id":"arek","per_page":5,"page":2}'
    headers:
      Content-Type:
      - application/json; charset=UTF-8
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      Fb-Created:
      - '2021-03-16T17:21:45.397+00:00'
      Fb-Id:
      - 15288fb5-867c-11eb-9066-02a26b375a24
      Fb-Reply-Id:
      - 1525cd96-867c-11eb-9498-02734d169812
      X-Fireball-Backend-Dynamic:
      - 1.3.4-27153ea-release
      X-Fireball-Frontend-Static:
      - 1.3.4-27153ea-release
    body:
      encoding: ASCII-8BIT
      string: '{"status":"OK","statusCode":200,"messages":null,"data":[{"contact_id":11,"name":"Toby","lastname":"Whitehouse","search_name":"Toby
        Whitehouse","contact_type":"person","id_code":"","bankaccount":"","birthday":null,"position":"","comments":"","sex":"M","vatno":"","timezone":"Europe\/Helsinki","manager_id":9,"is_supplier":0,"is_client":0,"client_profile_id":0,"created_date":"2017-01-04T14:01:21+01:00","modified_date":"2021-03-15T12:07:11+01:00","deleted_date":null,"addresses":null,"means_of_contact":{"mobile":["+447589290041"],"email":["twhitehouse@redhouserealtors.co.uk"]},"reference_no":"","cat_id":0,"permissions":null,"is_deleted":0},{"contact_id":15,"name":"Fineline
        Inc.","lastname":"","search_name":"Fineline Inc.","contact_type":"company","id_code":"","bankaccount":"","birthday":null,"position":"","comments":"","sex":"","vatno":"","timezone":"Europe\/Helsinki","manager_id":9,"is_supplier":0,"is_client":1,"client_profile_id":4,"created_date":"2017-01-04T14:03:11+01:00","modified_date":"2021-03-15T09:34:37+01:00","deleted_date":null,"addresses":null,"means_of_contact":{"phone":["+44
        1917 597755"],"website":["http:\/\/www.fineline-inc.com"]},"reference_no":"","cat_id":0,"permissions":null,"is_deleted":0},{"contact_id":16,"name":"Provision
        Ltd.","lastname":"","search_name":"Provision Ltd.","contact_type":"company","id_code":"","bankaccount":"","birthday":null,"position":"","comments":"","sex":"","vatno":"","timezone":"Europe\/Helsinki","manager_id":8,"is_supplier":0,"is_client":1,"client_profile_id":4,"created_date":"2017-01-04T14:03:11+01:00","modified_date":"2019-07-05T08:19:13+02:00","del[...]
