---
http_interactions:
- request:
    method: post
    uri: https://arek.scoro.com/api/v2/contacts/modify
    body:
      encoding: UTF-8
      string: '{"apiKey":"ScoroAPI_a4e5e6ad85ecdcc","company_account_id":"arek","request":{"contact_type":"person","name":"Olaf","lastname":"Kowal","means_of_contact":{"mobile":"+728555777","email":"olaf@gmail.com","phone":null,"website":null}}}'
    headers:
      Content-Type:
      - application/json; charset=UTF-8
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      Fb-Created:
      - '2021-03-18T22:41:09.108+00:00'
      Fb-Id:
      - '087240f4-883b-11eb-bb57-0292732158e4'
      Fb-Reply-Id:
      - '0868fa53-883b-11eb-9498-02734d169812'
      X-Fireball-Backend-Dynamic:
      - 1.3.4-27153ea-release
      X-Fireball-Frontend-Static:
      - 1.3.4-27153ea-release
    body:
      encoding: ASCII-8BIT
      string: '{"status":"OK","statusCode":200,"messages":null,"data":{"contact_id":87,"name":"Olaf","lastname":"Kowal","search_name":"Olaf
        Kowal","contact_type":"person","id_code":"","bankaccount":null,"birthday":"0000-00-00","position":"","comments":null,"sex":"","vatno":"","timezone":"","manager_id":0,"manager_email":"","is_supplier":0,"is_client":0,"client_profile_id":0,"created_date":"2021-03-18T23:41:09+01:00","modified_date":"2021-03-18T23:41:09+01:00","deleted_date":null,"addresses":null,"means_of_contact":{"mobile":["+728555777"],"email":["olaf@gmail.com"]},"tags":[],"reference_no":"","cat_id":0,"contact_users":[],"permissions":null,"custom_fields":null,"is_deleted":0}}'
  recorded_at: Thu, 18 Mar 2021 22:41:09 GMT
recorded_with: VCR 6.0.0
