---
http_interactions:
- request:
    method: post
    uri: https://arek.scoro.com/api/v2/contacts/modify
    body:
      encoding: UTF-8
      string: '{"apiKey":"ScoroAPI_a4e5e6ad85ecdcc","company_account_id":"arek","request":{"type":"person","name":"Olaf","lastname":"Kowal","mobile":"+728555777","email":"olaf@gmail.com","phone":null,"website":null}}'
    headers:
      Content-Type:
      - application/json; charset=UTF-8
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      Fb-Created:
      - '2021-03-16T17:47:44.492+00:00'
      Fb-Id:
      - b673887f-867f-11eb-bd49-06cd50c647de
      Fb-Reply-Id:
      - b6514906-867f-11eb-85b2-06376e0a584a
      X-Fireball-Backend-Dynamic:
      - 1.3.4-27153ea-release
      X-Fireball-Frontend-Static:
      - 1.3.4-27153ea-release
    body:
      encoding: ASCII-8BIT
      string: '{"status":"OK","statusCode":200,"messages":null,"data":{"contact_id":73,"name":"Olaf","lastname":"","search_name":"Olaf","contact_type":"company","id_code":"","bankaccount":null,"birthday":null,"position":"","comments":null,"sex":"","vatno":"","timezone":"","manager_id":0,"manager_email":"","is_supplier":0,"is_client":1,"client_profile_id":0,"created_date":"2021-03-16T18:47:44+01:00","modified_date":"2021-03-16T18:47:44+01:00","deleted_date":null,"addresses":null,"means_of_contact":null,"tags":[],"reference_no":"","cat_id":4,"contact_users":[],"permissions":null,"custom_fields":null,"is_deleted":0}}'
  recorded_at: Tue, 16 Mar 2021 17:47:44 GMT
recorded_with: VCR 6.0.0
