---
http_interactions:
- request:
    method: post
    uri: https://arek.scoro.com/api/v2/contacts/delete/2
    body:
      encoding: UTF-8
      string: '{"apiKey":"ScoroAPI_a4e5e6ad85ecdcc","company_account_id":"arek"}'
    headers:
      Content-Type:
      - application/json; charset=UTF-8
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      Fb-Created:
      - '2021-03-18T10:41:44.964+00:00'
      Fb-Id:
      - 889c8fc4-87d6-11eb-9079-06060def6daa
      Fb-Reply-Id:
      - 8897972a-87d6-11eb-85b2-06376e0a584a
      X-Fireball-Backend-Dynamic:
      - 1.3.4-27153ea-release
      X-Fireball-Frontend-Static:
      - 1.3.4-27153ea-release
    body:
      encoding: ASCII-8BIT
      string: '{"status":"ERROR","statusCode":400,"messages":{"error":["error deleting,
        check relations"]}}'
  recorded_at: Thu, 18 Mar 2021 10:41:44 GMT
recorded_with: VCR 6.0.0
