---
http_interactions:
- request:
    method: post
    uri: https://arek.scoro.com/api/v2/contacts/view/11
    body:
      encoding: UTF-8
      string: '{"apiKey":"ScoroAPI_a4e5e6ad85ecdcc","company_account_id":"arek"}'
    headers:
      Content-Type:
      - application/json; charset=UTF-8
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      Fb-Created:
      - '2021-03-18T10:39:39.158+00:00'
      Fb-Id:
      - 3da022c3-87d6-11eb-8443-02ec1512ea96
      Fb-Reply-Id:
      - 3d97f1d8-87d6-11eb-9498-02734d169812
      X-Fireball-Backend-Dynamic:
      - 1.3.4-27153ea-release
      X-Fireball-Frontend-Static:
      - 1.3.4-27153ea-release
    body:
      encoding: ASCII-8BIT
      string: '{"status":"OK","statusCode":200,"messages":null,"data":{"contact_id":11,"name":"Toby","lastname":"Whitehouse","search_name":"Toby
        Whitehouse","contact_type":"person","id_code":"","bankaccount":"","birthday":null,"position":"","comments":"","sex":"M","vatno":"","timezone":"Europe\/Helsinki","manager_id":9,"manager_email":"tiffany.doe@mycompany.com","is_supplier":0,"is_client":0,"client_profile_id":0,"created_date":"2017-01-04T14:01:21+01:00","modified_date":"2021-03-15T12:07:11+01:00","deleted_date":null,"addresses":[{"country":"","county":"","municipality":"","city":"Birmingham","street":"25
        Howard Rd E","zipcode":"B13 0RZ","full_address":"25 Howard Rd E, B13 0RZ Birmingham","contacts_addresses_id":30}],"means_of_contact":{"mobile":["+447589290041"],"email":["twhitehouse@redhouserealtors.co.uk"]},"tags":["English","Spanish"],"reference_no":"","cat_id":0,"cat_name":"","contact_users":[9],"related_companies":null,"permissions":null,"custom_fields":null,"is_deleted":0}}'
  recorded_at: Thu, 18 Mar 2021 10:39:39 GMT
recorded_with: VCR 6.0.0
